* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
  color: hsl(215, 51%, 70%);
  line-height: 1.5rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100vh;
  background: hsl(217, 54%, 11%);
  position: relative;
}

.card-container {
  width: 100%;
  max-width: 350px;
  background: hsl(216, 50%, 16%);
  padding: 24px;
  border-radius: 16px;
}

.card-container .image {
  width: 302px;
  height: 302px;
  border-radius: 6px;
  margin-bottom: 28px;
  position: relative;
  cursor: pointer;
}

.card-container .image img {
  width: 100%;
  border-radius: 6px;
}

.card-container .image .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: hsla(178, 100%, 50%, 0.5);
  border-radius: 6px;
  top: 0;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.card-container .image .overlay img {
  width: 48px;
  height: 48px;
}

.card-container .image:hover .overlay {
  opacity: 1;
}

.card-container > a {
  font-weight: 600;
  font-size: 22px;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  transition: color .3s ease-in-out;
}

.card-container > a:hover {
  color: hsl(178, 100%, 50%);
}

.card-container > p {
  font-weight: 300;
  margin-top: 16px;
}

.coin-info {
  margin: 24px 0;
  justify-content: space-between;
}

.coin-info .price span {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: hsl(178, 100%, 50%);
  margin-left: 6px;
}

.coin-info .time span {
  font-weight: 300;
  font-size: 16px;
  margin-left: 6px;
}

.card-container hr {
  border: 1px solid hsl(215, 32%, 27%);
}

.user-info {
  display: flex;
  align-items: center;
  margin-top: 18px;
}

.user-info img {
  width: 32px;
  height: 32px;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 16px;
}

.user-info p {
  margin-left: 16px;
}

.user-info p a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  transition: color .3s ease-in-out;
}

.user-info p a:hover {
  color: hsl(178, 100%, 50%);
}

.attribution {
  font-size: 11px; text-align: center;
  position: absolute;
  bottom: 16px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}